.section_main {
  padding: 3rem 2rem
}

.main_wrapper {
  composes: general_container from '../../index.css';

  display: grid;
  grid-template-columns: repeat(3, minmax(18.125rem, 1fr));
  grid-template-rows: auto auto;
  gap: 8.125rem;
}

.grid_article {
  grid-column: 1/3;
}

@media screen and (max-width: 60rem){
  .main_wrapper {
    grid-template-columns: 1fr;
  }

  .grid_article {
    grid-column: 1/2;
  }
}