.section_main {
  padding: 3rem 2rem
}

.main_wrapper {
  composes: general_container from '../../index.css';

  display: grid;
  grid-template-areas: 
      "header header"
      "content aside";
  grid-template-columns: 1fr 18.75rem;
  gap: 0 8%;
}

.main_article {
  grid-area: content;
}

@media screen and (max-width: 48rem){
  .main_wrapper {
    grid-template-areas: 
      "header"
      "content" 
      "aside";
    grid-template-columns: 1fr;
  }

}