.main_header {
  padding: 1.25rem 2rem ;
  background-image: linear-gradient(to right, var(--purple), var(--blue-dark));
}

.header_wrapper {
  composes: general_container from '../../index.css';
  line-height: 1em;
}

.header__logo {
  max-width: 12.25rem;
  cursor: pointer;
}