.section_podcast {
  padding: 2rem;
}

.podcast_wrapper {
    composes: general_container from '../../index.css';
    container-type: inline-size;
    
    display: grid;
    grid-template-areas: 
      "header header"
      "content aside";
    grid-template-columns: 1fr minmax(15.625rem ,18.75rem);
    gap: 0 8%;
  }
  
  .podcast_article {
    grid-area: content;
  }

.podcast_content {
  position: relative;
  min-height: 8.75rem;
  height: 10vh;
  margin-bottom: 2.75rem;
  font: 400 1rem/1.75rem "Avalon-Book";
  overflow: hidden;
}

.podcast_content > span {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.4375rem;
  background-image: linear-gradient(to top, var(--white), transparent);
}

.podcast_content::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.4375rem;
  background-image: linear-gradient(to top, var(--white), transparent);
}

.podcast_latest__title {
  font: 700 1.5rem/1.75rem "Avalon-Bold";
  margin-bottom: 1.375rem;
}

.podcast_aside {
  grid-area: aside;
  height: fit-content;
  padding: 1rem 1rem 1.25rem;
  border: 1px solid var(--gray-light);
  border-radius: 2.5rem 2.5rem 0.5rem 0.5rem;
}

.aside_actions__button {
  width: 100%;
  margin-bottom: 0.9375rem;
  padding: 0.8125rem;
  background: var(--pink);
  color: var(--white);
  font-family: 'Avalon-Bold';
  font-size: 1.5rem;
  font-weight: 700;
  border: 1px solid var(--pink);
  border-radius: 28px;
  cursor: pointer;
  transition: all ease 250ms;
}

.aside_actions__button:hover {
  background: var(--purple);
  border: 1px solid var(--purple);
}

.button_secondary {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--gray-light);
}


.aside_actions__button.button_secondary:hover {
  background: var(--gray-light);
  border: 1px solid var(--gray-light)
}

.aside_actions__button > span {
  height: 24px;
  position: relative;
  top: -3px;
}


.aside_actions_footer{
  composes: flex_Jcenter_Acenter from '../../index.css';

  gap: 0.3125rem;
  font-family: 'Avalon-Bold';
  font-size: 1rem;
  font-weight: 700;
}

.aside_actions_footer_divisor {
  composes: dot_divisor from '../../index.css';
}

@media screen and (max-width: 48rem){
  .podcast_wrapper {
    grid-template-areas: 
      "header"
      "content" 
      "aside";
    grid-template-columns: 1fr;
  }

}