.podcast_card {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: .5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--gray-light);
  cursor: pointer;
  transition: all ease-in 200ms;
}

.podcast_card:hover {
  border-color: var(--purple);
}

.podcast_card:hover .podcast_card__thumbnail img {
  transform: scale(1.05);
}

.podcast_card__thumbnail {
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  overflow: hidden;
}

.podcast_card__thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  transition: all ease 200ms;
}

.podcast_card__title {
  font: 700 1rem/1em Avalon;
  margin-bottom: var(--gutter-xs);
}

.podcast_card_terms {
  display: grid;
  grid-template-columns: min-content min-content 0.9fr;
  width: 100%;
  gap: var(--gutter-xs);
  font: 400 1rem/1rem "Avalon-Book";
}

.podcast_card_terms > .podcast_card__upload {
  display: block;
  width: max-content;
  font: inherit;
}

.podcast_card__divisor {
  
}

.podcast_card__description {
  max-width: 100%;
  font: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}