@font-face {
  font-family: 'Avalon-book';
  src: local('Avalon Book'), local('AvalonBook'),
      url('./assets/fonts/Avalon-Book.woff') format('woff'),
      url('./assets/fonts/Avalon-Book.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Avalon-bold';
  src: local('Avalon Bold'), local('AvalonBold'),
      url('./assets/fonts/Avalon-Bold.woff') format('woff'),
      url('./assets/fonts/Avalon-Bold.ttf') format('truetype');
  font-weight: 600;
}

:root {
  /* Font */
  --font-default: Avalon-book, Avenir, Helvetica, Arial, sans-serif;
  --font-bold: Avalon-bold, Avenir, Helvetica, Arial, sans-seri;
  font-family: var(--font-default);
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Primary Colors */
  --purple: hsl(296, 96%, 26%);
  --pink: hsl(336, 96%, 49%);
  --blue-dark: hsl(259, 78%, 26%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-opacity: hsla(0, 0%, 0%, 0.75);
  
  /* Grid Breakpoints */
  --bp-phone: 480px;
  --bp-tablet: 768px;
  --bp-desktop-md: 1024px;
  --bp-desktop-lg: 1200px;
  /* --bp-desktop-xl: 75rem; */

  --gutter-sm: 0.75rem;
  --gutter-md: 1.375rem;
  --gutter-lg: 2.5rem;

  --grid-1: calc( (100% - ( var(--gutter-sm) * 11 ) ) / 12 );
}

/* Helper Classes */
.general_container {
  max-width: var(--bp-desktop-lg);
  width: 100%;
  margin: 0 auto;
}

.flex_Jend_Acenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_Jcenter_Acenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
}
