@font-face {
  font-family: 'Avalon';
  src: local('Avalon'), local('AvalonPlain'),
      url('./src/assets/fonts/Avalon.woff') format('woff'),
      url('./src/assets/fonts/Avalon.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Avalon';
  src: local('Avalon Medium Bold'), local('Avalon-Bold'),
      url('./src/assets/fonts/Avalon-Bold.woff') format('woff'),
      url('./src/assets/fonts/Avalon-Bold.ttf') format('truetype');
  font-weight: 500;
}

:root {
  /* Font */
  --font-default: Avalon, Avenir, Helvetica, Arial, sans-serif;
  --font-bold: Avalon-bold, Avenir, Helvetica, Arial, sans-seri;
  font-family: var(--font-default);
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Primary Colors */
  --purple: hsl(296, 96%, 26%);
  --pink: hsl(336, 96%, 49%);
  --blue-dark: hsl(259, 78%, 26%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-opacity: hsla(0, 0%, 0%, 0.75);
  
  /* Grid Breakpoints */
  --bp-phone: 30rem;
  --bp-tablet: 48rem;
  --bp-desktop-md: 64rem;
  --bp-desktop-lg: 75rem;
  /* --bp-desktop-xl: 1200px; */
}

/* Helper Classes */
.flex_Jend_Acenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex_Jcenter_Acenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
  max-width: 100%;
}
